.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
    background: silver;
    padding: 10px;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    height: 550px;
    width: 550px;
    border: 1px solid rgb(156, 156, 156);
}

.grid-item {
    display: flex;
    container-type: inline-size;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgb(156, 156, 156);
}

.num-label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size:clamp(6px, 50cqi, 12px);
}

.controls {
    place-content: center;
    width: 300px;
    padding: 30px;
    border-radius: 4px;
}

.slide-container {
    margin-top: 10px;
}

.slider-label {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 100%
}

button:hover {
  background: #d0d0d0;
}

.btn-on {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222
}

.disable-selection {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

