.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 570px;
  background: silver;
  padding: 10px;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  height: 550px;
  width: 550px;
  border: 1px solid rgb(156, 156, 156);
}

.grid-item {
  display: flex;
  container-type: inline-size;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(156, 156, 156);
}

.num-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(6px, 50cqi, 12px);
}

.controls {
  place-content: center;
  width: 300px;
  padding: 30px;
  border-radius: 4px;
}

.slide-container {
  margin-top: 10px;
}

.slider-label {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

button {
  width: 100%
}

button:hover {
  background: #d0d0d0;
}

.btn-on {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-selection-text {
  pointer-events: none;
}

.orientation-warning-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  opacity: 0.9;
  background-color: silver;
  color: black;
  z-index: 2;
}

#toast-notification-box {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  background: silver;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #d5aed4, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  color: transparent;
  text-shadow: 0 0 #222;
  opacity: 0.9;
}

#toast-notification-box.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* animations to fade toast in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}