.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
    background: silver;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    height: 550px;
    width: 550px;
    border: 1px solid rgb(156, 156, 156);
}

.grid-item {
    display: flex;
    place-content: center;
    overflow: hidden;
    border: 1px solid rgb(156, 156, 156);
}

.num-label {
    font-size:.4cqi;
}

.controls {
    place-content: center;
    width: 300px;
    padding: 30px;
    border-radius: 4px;
}

.slide-container {
    margin-top: 10px;
}

.slider-label {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 100%
}

button:hover {
  background: #d0d0d0; /* Slightly lighter on hover */
}

.btn-on {
    background-color: #569876;
    color: #ffffff;
}
