---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- https://jdan.github.io/98.css/#intro -->
  <link rel="stylesheet" href="https://unpkg.com/98.css">
  <link rel="stylesheet" href="/assets/css/patterncreator.css">
</head>
<body>
  <div class="main">
    <div id="controls-container" class="controls">
      <button id="eraser-btn" title="(right click)">toggle eraser</button>
      <button id="clear-btn">clear</button>
      <button id="save-btn">save pattern</button>
      <div class="slide-container">
        <input type="range" min="10" max="48" value="28" class="slider" id="grid-slider">
        <p class="slider-label disable-selection"><span id="range-value">28</span> x <span id="range-value">28</span></p>
      </div>
    </div>
    <div class="grid-wrapper">
      <div id="capture" class="grid-container" draggable="false"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="/assets/js/patterncreator.js"></script>
</body>