<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/test.css">
</head>
<body>
  <div class="main">
    <div class="controls">
      <div class="slidecontainer">
        <input type="range" min="8" max="48" value="8" class="slider" id="grid-slider" 
        onmousemove="rangeSliderValue(this.value)" onchange="rangeSlider(this.value)">
        <p class="grid-size">grid size: <span id="range-value">8</span> x <span id="range-value">8</span></p>
      </div>
      <button id="eraser-btn">toggle eraser</button>
      <button id="clear-grid-btn">clear</button>
    </div>
    <div class="grid-wrapper">
      <div class="grid-container" draggable="false"></div>
    </div>
    <script src="/assets/js/test.js"></script>
  </div>
</body>